/** Colores **/
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$card-color: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;
$fondo-color:#96d178;
/** Fuentes **/
$font-tittle: "Alegreya", serif;

/** placeholder**/
%base-title{
    font-family: $font-tittle;
    color: $dark-green-text;
}
/** Card **/
